<h1>Race Miles </h1>
<ol>
    <li>marker 1: <input type="text" placeholder="marker#"/></li>
    <li>marker 2: <input type="text" placeholder="marker#"/></li>
    <li>marker 3: <input type="text" placeholder="marker#"/></li>
</ol>
